<article class="container">
    <div class="row">
        <div class="col">
            <partial name="SignInForm.cshtml" />
        </div>
        <div class="col">
            <partial name="FormLogin.cshtml" />
        </div>
    </div>
</article>
