@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-info">Oups ! Une erreur s'est produite. Veillez nous excuser.</h2>
<br/>
<br/>
<p>
    <input type="button" class="btn-info btn-lg" value="Retour à la Galerie" onclick="location.href='@Url.Action("Gallery", "Produit")'" />
</p>
