@model IEnumerable<EcommerceElena.Models.Produit>

@{
    ViewBag.Title = "Galerie";
}

<style>
    div {text-align:center}
    .bold {font-weight:bold}
    .rg {position:absolute; right:0px}
    .lf{left:20px}
    .prod {font-family:'Ink Free'; font-size:40px; font-weight:bold}
    img {background-color:none}
</style>

<div class="row">
    <div class="col-md-10 lf">
        <h3 class="prod">Nos produits</h3>
        @foreach (var item in Model)
        {
            <div style="display: inline-block; margin: 20px; ">
                <p>
                    <a href="~/Produit/Details/@item.idProd">
                        <img src="@Url.Content("~/Images/" + item.idProd + "_" + item.imageUrl)" height="200" />
                    </a>
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.nomProd)
                </p>
                <p class="bold">
                    @Html.DisplayFor(modelItem => item.PrixProd)
                </p>
            </div>
        }
    </div>
    <div class="col-md-2 rg">
        <p>
            @Html.Action("_BestProduits", "Produit")
        </p>
    </div>
</div>
