@model EcommerceElena.Outils.TopListe


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Top 5</title>
    <style>
        .it {font-style:italic}
        .best {
            font-family: 'Ink Free';
            font-size: 30px;
            font-weight: bold;
            background: linear-gradient(to right, #30d030, #162ab8, #6b11a2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body>

    <h3 class="best">Top 5 des produits vendus</h3>

    @for (int i = 0; i < 5; i++)
    {
<div style="display:inline-block;margin:20px;">
    <p>
        <a href="~/Produit/Details/@Model.ListProds[i].idprod">
            <img src="@Url.Content("~/Images/" + Model.ListProds[i].idprod + "_" + Model.ListProds[i].url)" width="100" />
        </a>
    </p>
    <p>
        @Html.DisplayFor(m => m.ListProds[i].nomprod)
    </p>
    <p class="bold">
        @Html.DisplayFor(m => m.ListProds[i].prix) €
    </p>
    <p class="it">
        vendu @Html.DisplayFor(m => m.ListProds[i].total) fois
    </p>
</div>
    }


</body>
</html>
